language: node_js
node_js:
  - "6"
before_script:
  - npm install
script:
  - npm run compile
after_script:
  - git checkout master
  - npm version patch -f
  - git add .
  - git push https://${GH_TOKEN}@github.com/yentheo/window-day-care.git
deploy:
  provider: npm
  email: "yenthe@spectra.one"
  api_key: $NPM_TOKEN
  tags: 'beta'
  skip_cleanup: true